@import "tailwindcss";
:root{
  --background:-#c2a75c;
  --primary: #3a3a2c;
}
.hero-bg {
  background-image: url('./assets/masai-mara-wildlife.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}