
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

:root{
  --background:#f9f7f2;
  --primary: #3a3a2c;
  --secondary:#8c8479;
  --button:#c2a75c;
}
h1, h2, h3, body, span, button, a {
  font-family: 'Playfair Display', serif !important;
}
p {
  font-family: 'jost' !important;
}

.swiper-slide {
  position: relative;
  z-index: 1;
}
/* 
body, p, span, button, a {
  font-family: 'Poppins', sans-serif !important;
} */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-bg {
  background-image: url('./assets/masai-mara-wildlife.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-next,
.swiper-button-prev {
  color:white!important;
}
.swiper-pagination-bullet-active {
  background: #c2a75c !important;     /* Active bullet stays white */
  margin-top: 10px;
  opacity: 1;                       /* Fully visible when active */
}